*{
    margin:0px;
    font-family:sans-serif;
}
/* .menu-header{
    display:flex;
    justify-content: space-between;
    margin:50px 40px;
  
    

}
.menu-header li {
    list-style:none;
}
.menu-header li a{
    text-decoration:none;
}
.menu-header .menu-item{
border-radius: 5px red;
background-color: #328a85;
padding:20px;

}
.menu-header .menu-item li a{
    color:black;
    font-weight:700;
    font-family:sans-serif;


    
}
.item-detail{
    display:flex;
    justify-content:space-between;
} */
.menu-lists{
    box-sizing: border-box;
  
}

.menu-heading {
    display:grid;
    grid-template-columns:1fr 1fr 1fr ;
    grid-gap:30px;
    justify-content: space-between;
    align-items: center;
    position:relative;
    text-transform: uppercase;
    
    

}

.menu-heading img{
    width:100%;
   
}
.menu-img1 img{
    position: relative;
    left:135px; 
    
}
.menu-img2 img{
  position:relative;
  right:135px;

    
    /* margin-right:100px; */
    
}

.menu-heading h1{
    text-align:center;
    color:#328a85;
    font-weight:600;
    font-family:sans-serif;
}
.menu-items{
    display:inline-flex;
   
    justify-content: space-between;
    box-sizing: border-box;
    margin-left:132px;
 
    background-color: #328a85;
    border-radius: 12px;
    padding:10px;

    height:132px;
    width:35%;
    position:relative;
}
.item-detail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
 
 

    }
.menuname {
     display:flex;
     margin-left:40px;
    justify-content: space-between; 
    align-items: center;
    padding:4px;
    margin-left:20px;
    

}
.item-subname{
    font-size:12px;
    color:rgb(18, 17, 17);
}

.menudetail p {
    padding:6px;
    font-family:sans-serif;
    font-weight:500;
    
    
}
.price{
    color:#171616;
    font-weight: 600;
    font-family:sans-serif;
}
.menudescript p{
    color:rgb(18, 18, 18);
    /* margin:6px; */
    font-weight:500;
    position:relative;
    left:22px;
    font-size: 12px;
}

.items-logo img{
   
height:117px;
width:150px;
border-radius: 7px;

}
.listeditem{
    display:flex;
    justify-content: center;
position: relative;
right:61px;
}

